body {
	color: #000000;
	font-family:  'Larish Alte Semibold';
	font-weight:  normal;
	font-style:   normal;
	font-stretch: normal;
	font-size: 32px;
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
}


header {
	height: 100px;
	line-height: 70px;
	border-bottom: 2px solid #e1e1e1;
	padding: 16px;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: #ffffff;
	z-index: 100;
	font-weight: bold;
	font-size: 55px;
}

header.closed {
	visibility: hidden;
}

header a.name {
	position: absolute;
	left: 30px;
}

header a.about {
	position: absolute;
	right: 30px;
}

#header-switcher {
	position: fixed;
	top: 120px;
	left: 10px;
	width: 28px;
	height: 30px;
	background: url(../images/arrow-header.png) center no-repeat;
	background-size: 8px 10px;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
	cursor: pointer !important;
	z-index: 1000;
}

#header-switcher.closed {
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 10px;
}

footer {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 14px;
}

#main-container {
	display: table;
	width: 100%;
	height: 100%;
	clear: both;
	z-index: 99;
	cursor: url(../images/arrow-right.png) 0 0, auto;
}

#text-container {
	display: table;
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    vertical-align: middle;
}

#text-container #text-box {
	padding: 80px 15% 20px;
	display: table-cell;
    vertical-align: middle;
}

#text-container #text-box .inner {
	overflow: auto;
	vertical-align: middle;
	display: block;
}

#text-container #text-box .inner.table-cell {
	display: table-cell;
}

#text-container #text-box p {
	margin: 0 0 20px;
	vertical-align: middle;
}

#text-container #text-box p:last-child {
	margin-bottom: 0px;
}
 
#media-container {
	display: table;
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
}

#media-container #media-box {
	padding: 80px 15% 20px;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
}

#media-container #media-box img {
	max-width: 100%;
}

div#pages {
	display: none;
} 

div#pages img {
	display: none;
	visibility: hidden;
}

@media only screen and (max-width:1530px) {
	
	body {
		color: #000000;
		font-family:  'Larish Alte Semibold';
		font-weight:  normal;
		font-style:   normal;
		font-stretch: normal;
		font-size: 25px;
	}

	header {
		text-align: center;
		height: 100px;
		font-size: 32px;
		line-height: 70px;
		padding: 16px;
	}
}

@media only screen and (max-width:890px) {
	
	body {
		color: #000000;
		font-family:  'Larish Alte Semibold';
		font-weight:  normal;
		font-style:   normal;
		font-stretch: normal;
		font-size: 20px;
	}

	header {
		text-align: center;
		height: 120px;
		font-size: 20px;
		line-height: 20px;
		padding: 8px;
	}

	header a {
		position: relative;
		clear: both;
		display: block;
		left: 0;
	}

	header a.name {
		position: relative;
		left: 0;
		line-height: 34px;
	}

	header a.email {
		line-height: 34px;
	}

	header a.about {
		position: relative;
		left: 0px;
		text-align: right;
		display: inline;
		line-height: 34px;
		top: 0px;
	}

	#text-container, #media-container {
		width: 100%;
		position: relative;
		left: 0;
	}

	#text-container {
		display: table-footer-group;
	}

	#text-container #text-box {
		padding-top: 0px;
	}

	#media-container {
		display: table-header-group;
	}

	#text-container #text-box .inner {
		overflow: auto;
		padding-top: 20px;
		vertical-align: middle;
		height: auto !important;
	}

	footer {
		position: relative;
		text-align: center;
		bottom: 0;
		right: 0;
		padding: 30px 0;
	}

}

/* perfect-scrollbar v0.6.2 */

.ps-container {
    overflow: hidden !important
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block
}
.ps-container.ps-in-scrolling {
    pointer-events: none
}
.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9
}
.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999
}
.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9
}
.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px
}
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    height: 8px
}
.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    width: 8px
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 8px
}
.ps-container:hover.ps-in-scrolling {
    pointer-events: none
}
.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9
}
.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999
}
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9
}
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999
}
.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: 0.6
}
.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9
}
.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #999
}
.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #999
}

